---
{
"title": "mainPage",
"template": "_layout",
}
---
<div class="profileWrapper">
    <div class="profileImgWrapper">
        <img class="heroImg" src={{ global.heroImgMain }} alt="big_Image">
        <a class="centerBox btnLink" href="/main">ändern</a>
    </div>
    <form>
        <ul class="listWithoutDots">
            <li class="inputRow">
                <label class="inputLabel">
                    <span class="inputDesc">Nutzername</span> 
                    <input class="textInputWithLabel" type="text" name="username" placeholder="Nutzername">
                </label>
            </li>
            <li class="inputRow">
                <label class="inputLabel">
                    <span class="inputDesc">ss</span> 
                    <input class="textInputWithLabel" type="text" name="street" placeholder="Nutzername">
                </label>
            </li>
            <li class="inputRow">
                <label class="inputLabel">
                    <span class="inputDesc">Nutzernamssdsdsdsd</span> 
                    <input class="textInputWithLabel" type="text" name="blaladfksjdk" placeholder="Nutzername">
                </label>
            </li>
        </ul>
    </form>
</div>