---
{
"title": "myProfile",
"template": "_profileLayout",
"firstButton": "Änderung speichern",
"secondButton": "Änderung verwerfen",
"thirdButton": "Profil löschen",
"myProfile": true
}
---
<form>
    <ul class="listWithoutDots">
        <li>
            <ul class="listWithoutDots">
                <li>
                    <h4>Dein Account</h4>
                </li>
                <li class="inputRow">
                    <label class="inputLabel">
                        <span class="inputDesc">Nutzername</span>
                        <input class="textInputWithLabel" type="text" name="username" placeholder="Nutzername">
                    </label>
                </li>
                <li class="inputRow">
                    <label class="inputLabel">
                        <span class="inputDesc">E-Mail-Adresse</span>
                        <input class="textInputWithLabel" type="email" name="e-mail" placeholder="E-Mail-Adresse">
                    </label>
                </li>
                <li class="inputRow">
                    <label class="inputLabel">
                        <span class="inputDesc">Passwort</span>
                        <input class="textInputWithLabel" type="password" name="password" placeholder="Passwort">
                    </label>
                </li>
            </ul>
        </li>
        <li>
            <ul class="listWithoutDots">
                <li>
                    <h4>Deine Informationen</h4>
                </li>
                <li class="inputRow">
                    <label class="inputLabel">
                        <span class="inputDesc">Vorname</span>
                        <input class="textInputWithLabel" type="text" name="firstName" placeholder="Vorname">
                    </label>
                </li>
                <li class="inputRow">
                    <label class="inputLabel">
                        <span class="inputDesc">Nachname</span>
                        <input class="textInputWithLabel" type="text" name="lastName" placeholder="Nachname">
                    </label>
                </li>
                <li class="inputRow">
                    <label class="inputLabel">
                        <span class="inputDesc">Stadt</span>
                    </label>
                    <div class="twoInputs">
                        <input class="inputSplitSmall" type="text" name="city" placeholder="PLZ">
                        <input class="inputSplitBig" type="text" name="city" placeholder="Stadt">
                    </div>
                </li>
                <li class="inputRow">
                    <label class="inputLabel">
                        <span class="inputDesc">Straße + Haus-Nr.</span>
                        <input class="textInputWithLabel" type="text" name="password" placeholder="Straße + Haus-Nr.">
                    </label>
                </li>
            </ul>
        </li>

    </ul>
</form>