/* ############ -utils- ############ */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnLink {
    width: 100px;
    height: 2em;
    margin: 0 10px;
    background-color: aqua;
    color: black;
    border-radius: 0.8em;
    text-decoration: none;
    transition: transform 0.2s;
}

.bigBtnLink {
    width: 150px;
    height: 2em;
    margin: 0 10px;
    background-color: aqua;
    color: black;
    border-radius: 0.8em;
    text-decoration: none;
    transition: transform 0.2s;
}

.btnLink:hover {
    transform: scale(1.1);
}

.textInput {
    border: 0;
    border-bottom: 1px solid black;
    background: none;
}

.imgBox {
    height: 350px;
}

.imgBox>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.contentBlock {
    padding: 30px;
    background: rgba(125, 125, 125, 0.2);
}

.searchBar {
    width: 100%;
}

.contentList {
    height: 500px;
    overflow-y: scroll;
}

.listWithoutDots {
    list-style-type: none;
}


/* ############ -Tag modifier- ############ */
* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 2em;
}

hr {
    margin: 10px 0;
    border: black 1px solid;
    align-self: stretch;
}

form {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

label>span {
    padding-right: 5px;
    box-sizing: border-box;
}

h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* ############ -header- ############ */
header {
    background-color: #008989;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header nav {
    display: none;
}

header nav>* {
    flex: 1;
    height: 100%;
    text-decoration: none;
    color: black;
}

header nav>*:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.accManagement {
    display: flex;
    height: 2em;
    margin: auto 0;
}

.header-logo {
    max-height: 50px;
    width: 50px;
}

/* ############ -footer- ############ */
footer {
    background-color: #008989;
    padding: 10px 10px;
    align-items: center;
    flex-wrap: wrap;
}

.footerLink {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerIcons {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.footer-logo {
    width: 150px;
}

.footerSocials {
    display: flex;
}

.social {
    width: calc(100% /3);
    max-width: 66px;
    justify-content: center;
    object-fit: cover;
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
}

#toTop {
    display: none;
}

footer div hr {
    margin-top: 20px;
}


/* ############ -entry- ########### */

#entry {
    display: block;
}



#entry .imgBox {
    height: 500px;
}

#entry .loginForm {
    box-sizing: border-box;
    padding-right: 100px;
}

#entry input {
    margin-top: 12px;
}

/* ############ -main- ############ */

#main .imgBox {
    height: 350px;
}

/* TODO GRID angucken */
.list-headings {
    display: none;
}

.list-headings h4:nth-child(1) {
    text-indent: 20px;
    width: 110px;
}

.list-headings p:nth-child(2) {
    flex: 3;
}

.list-headings h4:nth-child(3) {
    flex: 3;
}

.list-headings h4:nth-child(4) {
    flex: 3;
}

/* ############ -profile- ############ */

#myProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#myProfile .imgBox {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}


.inputLabel {
    display: inline;
}

.inputDesc {
    display: inline-block;
    width: 40%;
    text-align: right;
}

.inputRow {
    margin-bottom: 15px;
}


.textInputWithLabel {
    box-sizing: border-box;
    width: 50%;
}

.changeProfileInfo>* {
    margin-bottom: 15px;
}

.inputSplitSmall {
    box-sizing: border-box;
    width: 1%;
    flex: 1;
}

.inputSplitBig {
    box-sizing: border-box;
    margin-left: 3px;
    width: 1%;
    flex: 3;
}


.twoInputs {
    width: 50%;
    display: inline-flex;
}
.container {
    overflow-y: scroll;
    height: 400px;
}


.grid {
    display: grid;
    
    grid-template: "title title rewiews lastMsg" auto / 80px 1fr 1fr 1fr; 
    grid-auto-flow: row;
    grid-auto-rows: 200px;
}

.title,
.reviews,
.lastMsg {
    position: sticky;
    top: 0;
    height: 0;
    overflow: hidden;
}

.title {
    grid-area: title;
}

.rewiews {
    grid-area: rewiews;
}

.lastMsg {
    grid-area: lastMsg;
}

.element {
    background-color: aquamarine;
    grid-column: 1/-1;
    
    display: grid;
    grid-template: "image title rewiews lastMsg" auto / 80px 1fr 1fr 1fr;
}

.element-image {
    margin: 7px;
    background: teal;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.element-title {
    margin: 7px;
    background: teal;
    grid-row: 1;
    grid-column: 3 / 5;
}

.element-reviews {
    margin: 7px;
    background: teal;
    grid-row: 3;
    grid-column: 1 / 3;
}

.element-lastMsg {
    margin: 7px;
    background: teal;
    grid-row: 2;
    grid-column: 3 / 5;
}

@media(min-width:750px) {
    .title,
    .reviews,
    .lastMsg {
        background: firebrick;
        height: 50px;
    }

    .element-image {
        grid-row: 1;
        grid-column: 1;
    }
    
    .element-title {
        grid-row: 1;
        grid-column: 2;
    }
    
    .element-reviews {
        grid-row: 1;
        grid-column: 3;
    }
    
    .element-lastMsg {
        grid-row: 1;
        grid-column: 4;
    }

}






@media(min-width:750px) {

    /* ############ -entry- ############ */
    #entry {
        display: flex;
    }

    #entry>* {
        flex: 1 1 50%;
    }

    /* ############ -main- ############ */

    #headings {
        display: flex;
        position: sticky;
        background-color: white;
        padding-bottom: 10px;
        top: 0;
    }

    /* ############ -footer- ############ */

    footer {
        background-color: #008989;
        display: flex;
        padding: 10px 10px;
        align-items: center;
    }

    .footerLink {
        margin-top: 20px;

        min-width: calc(100% / 3);
    }

    .footerIcons {
        order: 2;
    }

    footer .footerLink hr {
        margin-top: 10px;
    }

    /* ############ -header- ############# */
    header nav {
        display: flex;
        width: 400px;
        height: 2em;
        margin: auto 0;
    }
}

/* end media(min-width:750px) */