* {
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: #008989;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#innerLinks {
    display: flex;
    width: 400px;
    height: 2em;
    margin: auto 0;
}

#accManagement {
    display: flex;
    height: 2em;
    margin: auto 0;
}

.navElement {
    flex: 1;
    height: 100%;
    text-decoration: none;
    color: black;
}

.navElement:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.btnLink {
    width: 100px;
    height: 2em;
    margin: 0 10px;
    background-color: aqua;
    color: black;
    border-radius: 0.8em;
    text-decoration: none;
    transition: transform 0.2s;
}

.btnLink:hover {
    transform: scale(1.1);
}

.centerBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    padding: 10px 10px;
    align-items: center;
}

.footerIcons {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;

}

hr {
    margin: 10px 0;
    border: black 1px solid;
    align-self: stretch;
}

.logo {
    max-height: 50px;
    width: 50px;
}

.footerLink {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footerSocials {
    display: flex;
}

.footerLogo {
    width: 150px;
}

.topicImg {
    margin-right: 10px;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.social {
    width: calc(100% /3);
    max-width: 66px;
    justify-content: center;
    object-fit: cover;
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
}

.heroImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.contentBlock {
    padding: 20px;
    background: rgba(125,125,125,0.2);
}

.heroImgWrapper {
    height: 350px;
}

#loginBlock > .heroImgWrapper {
    height: 500px;
}

#headings {
    display: flex;
    position: sticky;
    background-color: white;
    padding-bottom: 10px;
    top: 0;
}

#headings h4:nth-child(1) {
    text-indent: 20px;
    width: 110px;
}
#headings p:nth-child(2) {
    flex: 3;
}
#headings h4:nth-child(3) {
    flex: 3;
}
#headings h4:nth-child(4) {
    flex: 3;
}

.contentList {
    height: 500px;
    overflow-y: scroll;
}

.listElement {
    display: flex;
    align-items: center;
    border: 2px black solid;
    padding: 10px;
}
.listElement div:nth-of-type(1) {
    height: 100px;
}

.listElement .topicTitle {
    flex: 3;
}
.listElement .topicReacts {
    flex: 3;
}
.listElement .topicText {
    flex: 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#loginBlock {
    display: flex;
}

#loginBlock > * {
    flex: 1;
}

#loginBlock input {
    display: block;
    margin: 5px 0;
}

#loginBlock .textInput {
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
    background: none;
}

#loginBlock .loginForm {
    padding-right: 100px;
}


@media(max-width:750px) {
    #loginBlock {
        display: block;
    }

    .listElement {
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        height: calc(100px + 2em);
    }
    .listElement .topicReacts {
        padding-top: 5px;
        padding-left: 25px;
        order: 2;
    }
    .listElement .topicTitle {
        margin-top: 20px;
        flex: 1;
        order: 3;
    }
    .listElement .topicText {
        flex: 2;
        width: 100%;
        order: 4;
    }

    #headings {
        display: none;
    }

    #searchBar {
        width: 100%;
    }
    #toTop {
        display: none;
    }

    footer {
        flex-wrap: wrap;
    }

    .footerLink {
        margin-top: 20px;

        min-width: calc(100% / 3);
    }

    .footerIcons {
        order: 2;
    }

    /*
        die Linie soll im kleinen Modus mehr abstand zu den Buttons haben
    */
    footer div hr {
        margin-top: 20px;
    }

    #innerLinks {
        display: none;
    }

    #interaction {
        justify-content: flex-end;
    }
}