/* ############ -utils- ############ */

.noDecoration {
    text-decoration: none;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spaceBetween {
    flex: 0 0 1px;
}

.btnLink {
    width: 10rem;
    height: 2em;
    margin: 0 1rem;
    background-color: aqua;
    color: black;
    border-radius: 0.8em;
    text-decoration: none;
    transition: transform 0.2s;
}

.btnRemove {
    margin-left: 0.5rem;
    flex: 0;
    min-width: 9rem;
    height: 1.5em;
    background-color: rgb(241, 28, 0);
    color: black;
    border-radius: 0.3em;
    text-decoration: none;
    transition: transform 0.2s;
}

.btnwidth100 {
    width: 100%;
    flex: 1;
    border: 0;
    height: 1.5em;
    background-color: aqua;
    color: black;
    border-radius: 0.3em;
    text-decoration: none;
    transition: transform 0.2s;
}

.bigBtnLink {
    width: 20rem;
    height: 2em;
    margin: 0 1rem;
    background-color: aqua;
    color: black;
    border-radius: 0.8em;
    text-decoration: none;
    transition: transform 0.2s;
}


.btnLink:hover {
    transform: scale(1.1);
}

.textInput {
    border: 0;
    border-bottom: 1px solid black;
    background: none;
}

.imgBox img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.fill {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.fillVideo {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.contentBlock {
    padding: 2rem;
    background: rgba(125, 125, 125, 0.2);
}

.bigSearchBar {
    width: 100%;
}

.contentList {
    height: 50rem;
    overflow-y: scroll;
}

.listWithoutDots {
    list-style-type: none;
}

.align-self-end {
    justify-self: end;
}

.mr-s {
    margin-right: 1.5rem;
}

.ml-s {
    margin-left: 1.5rem;
}

.flex {
    display: flex;
}


/* ############ -Tag modifier- ############ */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem; /* Hack, lieber an sinnvollen Stellen font Size mit rem setzen */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 2em;
}

hr {
    margin: 1rem 0.2rem;
    border: black 1px solid;
    background-color: black;
    align-self: stretch;
    width: 100%;
}

label>span {
    padding-right: 0.5rem;
    box-sizing: border-box;
}

form h4 {
    margin-bottom: 1.5rem;
}

/* ############ -header- ############ */
header {
    background-color: #008989;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

header nav {
    display: none;
}

header nav>* {
    flex: 1;
    height: 100%;
    text-decoration: none;
    color: black;
}

header nav>*:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.accManagement {
    display: flex;
    height: 2em;
    margin: auto 0;
}

.header-logo {
    max-height: 5rem;
    width: 5rem;
}

/* ############ -footer- ############ */
footer {
    display: flex;
    flex-direction: column;
    background-color: #008989;
    padding: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.footerLink {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerIcons {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.footer-logo {
    width: 10rem;
}

.footerSocials {
    display: flex;
}

.social {
    width: calc(100% /3);
    max-width: 3.3rem;
    object-fit: cover;
    border-radius: 50%;
    padding: 0.5rem;
    box-sizing: border-box;
}

#toTop {
    display: none;
}

footer div hr {
    margin-top: 2rem;
}

.footerLink {
    order: 1;
}

.footerIcons {
    order: 2;
}

/** ############ -index- ############ */
.heroImage {
    width: 100%;
}

.heroImage__img {
    position: relative;
}


.cta-register {
    position: absolute;
    bottom: 4.5rem;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.opinions__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opinion {
    padding: 1rem;
    max-width: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.opinion__image {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;

    margin-bottom: 1rem;
}

.opinions__cta {
    margin: 1rem auto 0;
}

/* ############ -entry- ########### */

#entry {
    display: block;
}

#entry .imgBox {
    height: 25rem;
}

#entry .loginForm {
    box-sizing: border-box;
    padding-right: 10rem;
}

#entry input {
    margin-top: 1.5rem;
    display: block;
}

#entry .inputRow {
    width: 100%;
}

/* ############ -main- ############ */
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#main .imgBox {
    width: 100%;
    height: 100%;
}

.functions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mainFunction {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.createBox {
    box-sizing: border-box;
    background-color: #547e7e;
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 1.5rem 0.5rem 3rem;
    opacity: 0.7;
    border-radius: 0.4rem;
}

.functionElement {
    width: 40%;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    background-color: rgb(106, 213, 255);
    border: 1px solid black;
    margin: 2rem 0;
    transition: transform 0.2s;
}

.bigFunctionElement {
    width: 60%;
}

.functionElement:hover {
    transform: scale(1.02);
}

/* ############ -profile- ############ */

.profileImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

#profile .imgBox {
    width: 25rem;
    height: 25rem;
    margin-bottom: 2rem;
}

.inputLabel {
    display: inline;
}

.inputDesc {
    display: inline-block;
    width: 40%;
    text-align: right;
}

.textInputWithLabel {
    box-sizing: border-box;
    width: 50%;
}

.changeProfileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.changeProfileInfo>* {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.inputSplitSmall {
    box-sizing: border-box;
    width: 1%;
    flex: 1;
}

.inputSplitBig {
    box-sizing: border-box;
    margin-left: 0.3rem;
    width: 1%;
    flex: 3;
}

.twoInputs {
    width: 50%;
    display: inline-flex;
}

.profileHead {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.profileContent {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#profile ul {
    margin-bottom: 5rem;
}

#profile .imgBox>img {
    border-radius: 1.5rem;
}

.profileInfo {
    width: 30rem;
}

/* ############ -myProfile- ############ */

#profile .inputRow {
    margin-bottom: 1.5rem;
}

/* ############ -otherProfile- ############ */
.infoRow {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}


/* ############ -test- ############ */
.group-list {
    overflow-y: scroll;
    height: 40rem;
}

.headings {
    display: none;
    position: sticky;
    top: 0;

    grid-template: auto / 16rem 1fr 1fr 1fr;
    grid-template-areas: "title . reviews lastMsg";

    background: antiquewhite;
}

.headings-title,
.headings-reviews,
.headings-lastMsg {
    display: flex;
    align-items: center;
}

.headings-title {
    text-indent: 3rem;
    grid-area: title;
}

.headings-reviews {
    grid-area: reviews;
}

.headings-lastMsg {
    grid-area: lastMsg;
}

.element {
    background-color: aquamarine;
    grid-column: 1/-1;

    display: grid;

    grid:
        "image title  " 8rem "image lastMsg" 8rem "reviews .    " auto / 16rem 1fr;

    align-items: center;
}

.element-image {
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
    grid-area: image;
}

.element-image>img {
    border-radius: 1.5rem;
}

.element-title {
    grid-area: title;
}

.element-reviews {
    grid-area: reviews;
    text-align: center;
}

.element-lastMsg {
    grid-area: lastMsg;


    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    align-self: flex-start;
}

@media(min-width:750px) {
    .headings {
        display: grid;
    }

    .element {
        grid: "image title reviews lastMsg" 16rem / 16rem 1fr 1fr 1fr;
    }

    .element-reviews {
        text-align: left;
    }

    .element-lastMsg {
        align-self: auto;
    }
}

.dictionary__words {
    overflow-y: scroll;
    height: 40rem;
    width: 90%;
    margin: 0 auto;
}

.letter__headline {
    background: rgb(106, 213, 255);
    border: #008989;
    position: sticky;
    top: 0;
}

.letter__words {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.word-preview {
    border: 1px solid #008989;
    padding: 0.7rem;
    text-align: center;
}



/*##### test ende ##### */


/* ############ -groupchat- ############ */
.groupFunctionElement {
    width: 40%;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    background-color: rgb(106, 213, 255);
    border: 1px solid black;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: transform 0.2s;
}

.groupFunctions {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#groupchat {
    display: flex;
    flex-direction: column;
}

#groupView .groupHeader .imgBox {
    width: 9rem;
    height: 9rem;
}

.groupImg {
    border-radius: 0.8rem;
}

#groupView .chat .imgBox {
    width: 6rem;
    height: 6rem;
}

#groupView .chat .imgBox img {
    border-radius: 0.8rem;
}

.chatText {
    padding: .5rem;
    border: 1px solid black;
    border-radius: 1rem;
}

.groupHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    background-color: #547e7e;
    padding: 0.8rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
}

.chat-name-back {
    padding-left: 1.5rem;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.empty {
    display: none;
    width: 8rem;
}

.sender h5 {
    width: 100%;
    word-break: break-all;
}

.sender {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    max-width: 6rem;
    min-width: 6rem;
}

.chat {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
}

.chatEntry {
    padding-bottom: 1.5rem;
    display: flex;
}

.interact {
    display: flex;
    justify-content: center;
}

.interact .imgBox {
    padding-left: 0.5rem;
    width: 2rem;
    height: 2rem;
}

.interact .imgBox img {
    border-radius: 80%;
}

.writeChat {
    width: 80%;
}

.participans {
    height: 2em;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 16rem;
    box-shadow: 0 0.8rem 1.6rem 0.8rem rgba(0, 0, 0, 0.4);
    z-index: 1;
    right: 10%;
}

.dropdown {
    position: relative;
}

.dropdown-content>* {
    color: black;
    padding: 0.8rem 0.8rem;
    text-decoration: none;
    display: block;

}

.dropdown-content .contact:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.contact {
    display: flex;
    align-items: center;
}

#groupView .groupHeader .contact .imgBox {
    height: 3em;
    width: 3em;
    padding-right: 1rem;
}

#groupView main {
    background-color: rgba(175, 183, 190, 0.644);
    padding: 0.8rem;
    box-sizing: border-box;
    border-radius: .5rem;
}

/* ############ -groupchat ende- ############ */

/* ############ -create Card- ############ */

#createCard {
    display: flex;
    flex-direction: column;
}

.groupAssignment {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lessonAssignment {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.assignmentRow {
    display: flex;
    margin: 0.3rem 0;
}

.cardFront {
    width: 100%;
    margin: 1rem 0;
}

.cardBackForm {
    width: 100%;
    height: 20rem;
    border: 0.4rem dashed #fff;
}

.cardBackForm p {
    padding-top: 9rem;
    box-sizing: border-box;
    padding-bottom: 11rem;
}

.cardBackForm {
    margin-bottom: 50rem;
    position: absolute;
    top: 300%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardBackVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}

.operations {
    display: flex;
    justify-content: flex-end;
}

.cardBody {
    position: relative;
    margin-bottom: 27.5rem;
}

/** ############ -learn- ############ **/

.searchBar {
    padding: 0.5rem 0;
    border-radius: 0.5rem;
}

.tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tagList__element {
    white-space: nowrap;
    background-color: #008989;
    border-radius: 0.5rem;
    border: 0;
    height: 2em;
    padding: 0.5rem;
}

.tagList__element--add {
    background-color: green;
}

.learn__searchBar {
    width: 100%;
    margin-bottom: 1rem;
}

.learn__filterList {
    margin-bottom: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #7898a779;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.card__video {
    height: 20rem;
    width: 60%;
}

.card__text {
    text-align: center;
}

.cardActions {
    display: flex;
    justify-content: space-between;
}

.flex1 {
    flex:1;
    display: flex;
    justify-content: center;
}

.cardActions__action {
    width: 12rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
    border: 0;
}

.cardActions__action--unknown {
    background-color: red;
}
.cardActions__action--difficult {
    background-color: yellow;
}
.cardActions__action--known {
    background-color: green;
}




@media(min-width:750px) {

    .contentBlock {
        padding: 3rem;
    }


    /* ############ -index- ############ */
    .cta-register {
        display: none;
    }

    .heroImg__overlay {
        background-color: #ffffff85;
        padding: 1rem;
        border-radius: 0.5rem;
        position: absolute;
        right: 2.5rem;
        bottom: 2.5rem;
        width: 40rem;
    }

    .opinions__container {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        align-items: stretch;
    }

    .opinion {
        max-width: 20rem;
    }

    .opinion__image {
        width: 10rem;
    }

    /* ############ -entry- ############ */
    #entry {
        display: flex;
    }

    #entry>* {
        flex: 1 1 50%;
    }

    #entry .imgBox {
        height: 50rem;
    }

    /* ############ -main- ############ */

    #main {
        flex-direction: row;
    }

    .functionElement {
        width: 60%;
        margin-bottom: 0;
    }

    .functions {
        flex-direction: column;
        align-items: center;
    }

    .align-start {
        align-items: start;
    }

    .createFunctions {
        flex-direction: column;
    }

    .bigFunctionElement {
        width: 80%;
    }

    /* ############ -footer- ############ */

    footer {
        background-color: #008989;
        display: flex;
        flex-direction: row;
        padding: 1rem 1rem;
        align-items: center;
        flex-wrap: nowrap;
    }

    .footerLink {
        margin-top: 2rem;
        order: 1;
        min-width: calc(100% / 5);
    }

    .footerIcons {
        order: 1;
    }

    footer .footerLink hr {
        margin-top: 1rem;
    }

    #toTop {
        display: flex;
    }

    /* ############ -header- ############# */
    header nav {
        display: flex;
        width: 40rem;
        height: 2em;
        margin: auto 0;
    }

    /* ############ -profile- ############# */
    .profileContent {
        flex-direction: row;
        align-items: start;
        width: 100%;
    }

    #profile .imgBox {
        width: 16.5rem;
        height: 16.5rem;
    }

    .profileImg {
        margin-right: 15vw;
        justify-content: flex-start;
    }

    .inputDesc {
        width: 30%;
    }

    .textInputWithLabel {
        width: 60%;
    }

    .twoInputs {
        width: 60%;
    }

    .changeProfileInfo {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    /* ############ -groupchat- ############ */
    .empty {
        min-width: 7.5rem;
        display: unset;
    }

    /* ############ -createCard- ############ */
    #createCard {
        flex-direction: row;
    }

    #createCard aside {
        margin-left: 5rem;
    }

    .cardBody {
        flex: 1;
    }

    #createCard aside {
        flex: 1;
    }

    .cardBackForm {
        margin-bottom: 50rem;
        position: absolute;
        top: 140%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .groupAssignment {
        margin-top: 0;
    }

    /** ############ -learn- ############*/
    .cardActions {
        justify-content: space-around;
    }
}

/* end media(min-width:750px) */