/* ############ -utils- ############ */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnLink {
    width: 100px;
    height: 2em;
    margin: 0 10px;
    background-color: aqua;
    color: black;
    border-radius: 0.8em;
    text-decoration: none;
    transition: transform 0.2s;
}

.bigBtnLink {
    width: 150px;
    height: 2em;
    margin: 0 10px;
    background-color: aqua;
    color: black;
    border-radius: 0.8em;
    text-decoration: none;
    transition: transform 0.2s;
}


.btnLink:hover {
    transform: scale(1.1);
}

.textInput {
    border: 0;
    border-bottom: 1px solid black;
    background: none;
}

.imgBox > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.contentBlock {
    padding: 30px;
    background: rgba(125, 125, 125, 0.2);
}

.searchBar {
    width: 100%;
}

.contentList {
    height: 500px;
    overflow-y: scroll;
}

.listWithoutDots {
    list-style-type: none;
}


/* ############ -Tag modifier- ############ */
* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 2em;
}

hr {
    margin: 10px 0;
    border: black 1px solid;
    background-color: black;
    align-self: stretch;
}



label>span {
    padding-right: 5px;
    box-sizing: border-box;
}

form h4 {
    margin-bottom: 15px;
}
/* ############ -header- ############ */
header {
    background-color: #008989;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header nav {
    display: none;
}

header nav>* {
    flex: 1;
    height: 100%;
    text-decoration: none;
    color: black;
}

header nav>*:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.accManagement {
    display: flex;
    height: 2em;
    margin: auto 0;
}

.header-logo {
    max-height: 50px;
    width: 50px;
}

/* ############ -footer- ############ */
footer {
    display: flex;
    flex-direction: column;
    background-color: #008989;
    padding: 10px 10px;
    align-items: center;
    flex-wrap: wrap;
}

.footerLink {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerIcons {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.footer-logo {
    width: 150px;
}

.footerSocials {
    display: flex;
}

.social {
    width: calc(100% /3);
    max-width: 66px;
    justify-content: center;
    object-fit: cover;
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
}

#toTop {
    display: none;
}

footer div hr {
    margin-top: 20px;
}

.footerLink {
    order: 1;
}
.footerIcons {
    order: 2;
}

/* ############ -entry- ########### */

#entry {
    display: block;
}



#entry .imgBox {
    height: 500px;
}

#entry .loginForm {
    box-sizing: border-box;
    padding-right: 100px;
}

#entry input {
    margin-top: 12px;
}

/* ############ -main- ############ */

#main .imgBox {
    height: 350px;
}

/* TODO GRID angucken */
.list-headings {
    display: none;
}

.list-headings h4:nth-child(1) {
    text-indent: 20px;
    width: 110px;
}

.list-headings p:nth-child(2) {
    flex: 3;
}

.list-headings h4:nth-child(3) {
    flex: 3;
}

.list-headings h4:nth-child(4) {
    flex: 3;
}

/* ############ -profile- ############ */

#myProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#profile .imgBox {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}

.inputLabel {
    display: inline;
}

.inputDesc {
    display: inline-block;
    width: 40%;
    text-align: right;
}

.inputRow {
    margin-bottom: 15px;
}


.textInputWithLabel {
    box-sizing: border-box;
    width: 50%;
}

.changeProfileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.changeProfileInfo>* {
    margin-bottom: 15px;
    margin-top: 20px;
}

.inputSplitSmall {
    box-sizing: border-box;
    width: 1%;
    flex: 1;
}

.inputSplitBig {
    box-sizing: border-box;
    margin-left: 3px;
    width: 1%;
    flex: 3;
}


.twoInputs {
    width: 50%;
    display: inline-flex;
}

.profileHead {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.profileContent{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#profile ul{
    margin-bottom: 50px;
}
#profile .imgBox > img{
    border-radius: 15px;
}



/* ############ -otherProfile- ############ */
.infoRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.profileInfo {
    width: 300px;
}

/* ############ -test- ############ */
.group-list {
    overflow-y: scroll;
    height: 400px;
}

.headings {
    display: none;
    position: sticky;
    top: 0;

    grid-template: "title title reviews lastMsg" auto / 160px 1fr 1fr 1fr; 

    background: firebrick;
}

.headings-title,
.headings-reviews,
.headings-lastMsg {
    display: flex;
    align-items: center;
}

.headings-title {
    text-indent: 30px;
    grid-area: title;
}

.headings-reviews {
    grid-area: reviews;
}

.headings-lastMsg {
    grid-area: lastMsg;
}

.element {
    background-color: aquamarine;
    grid-column: 1/-1;
    
    display: grid;

    grid: 80px 80px auto / 160px 1fr;
    align-items: center;
}

.element-image {
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    grid-row: 1 / 3;
    grid-column: 1;
}
.element-image > img {
    border-radius: 15px;
}

.element-title {
    grid-row: 1;
    grid-column: 2;
}

.element-reviews {
    grid-row: 3;
    grid-column: 1;
    text-align: center;
}

.element-lastMsg {
    grid-row: 2;
    grid-column: 2;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    align-self: flex-start;
}

@media(min-width:750px) {
    .headings {
        display: grid;
    }

    .element {
        grid: "image title reviews lastMsg" 160px / 160px 1fr 1fr 1fr;
    }

    .element-image {
        grid-area: image;
    }
    
    .element-title {
        grid-area: title;
    }
    
    .element-reviews {
        grid-area: reviews;
        text-align: left;
    }
    
    .element-lastMsg {
        grid-area: lastMsg;
        align-self: auto;
    }
}

/*#####  test ende ##### */





@media(min-width:750px) {

    /* ############ -entry- ############ */
    #entry {
        display: flex;
    }

    #entry>* {
        flex: 1 1 50%;
    }

    /* ############ -main- ############ */

    #headings {
        display: flex;
        position: sticky;
        background-color: white;
        padding-bottom: 10px;
        top: 0;
    }

    /* ############ -footer- ############ */

    footer {
        background-color: #008989;
        display: flex;
        flex-direction: row;
        padding: 10px 10px;
        align-items: center;
        flex-wrap: nowrap;
    }

    .footerLink {
        margin-top: 20px;
        order: 1;
        min-width: calc(100% / 5);
    }
    .footerIcons {
        order:1;
    }

    footer .footerLink hr {
        margin-top: 10px;
    }
    #toTop {
        display: flex;
    }

    /* ############ -header- ############# */
    header nav {
        display: flex;
        width: 400px;
        height: 2em;
        margin: auto 0;
    }

    /* ############ -myProfile- ############# */
    .profileContent{
        flex-direction: row;
        width: 100%;
    }

    #profile .imgBox {
        width: 165px;
        height: 165px;
    }
    .profileImg {
        margin-right: 15vw;
        justify-content: flex-start;
    }
    .inputDesc {
        width: 30%;
    }
    .textInputWithLabel {
        width: 60%;
    }
    .twoInputs {
        width: 60%;
    }
    .changeProfileInfo {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
    /* ############ -otherProfile- ############ */

}

/* end media(min-width:750px) */