---
{
    "title": "Index",
    "template": "_layout",
    "innerlinks": [
        { "title": "Kurzbeschreibung", "url": "#about"},
        { "title": "Motivation",       "url": "#motivation"},
        { "title": "Kundenmeinungen",  "url": "#opinions"}
    ]
}
---
<h1>Willkommen!! Klicke auf das Logo um zur Hauptseite zu gelangen</h1>