---
{
    "title": "Index",
    "template": "_layout",
    "innerlinks": [
        { "title": "Kurzbeschreibung", "url": "#about"},
        { "title": "Motivation",       "url": "#motivation"},
        { "title": "Kundenmeinungen",  "url": "#opinions"}
    ]
}
---
<section id="about" class="heroImage">
    <div class="heroImage imgBox">
        <img src={{ global.heroImgMain }} alt="HeroImage">
        <a class="cta-register btnLink center" href="/entry/register">Registrieren</a>
    </div>
    <div class="overlay">
        <h2>Kurzbeschreibung</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium 
            eveniet ipsum dolore, odio magnam accusamus minus corporis vitae 
            quibusdam odit asperiores! Pariatur neque consectetur consequatur 
            fugiat quasi voluptas molestiae dicta voluptatem quis. Beatae ratione 
            fuga laboriosam maiores ut, vel blanditiis.
        </p>
    </div>
</section>
<section id="motivation" class="contentBlock">
    <h2>Motivation</h2>
</section>
<section id="opinions" class="contentBlock">
    <h2>Kundenmeinungen</h2>
    <div class="opinions__container">
        <div class="opinion">
            <div class="opinion__image imgBox">
                <img src={{ global.imgListElement }} alt="überzeugte Benutzerin">
            </div>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At eius est, libero quibusdam quae officia.
            </p>
            <cite>Hanna</cite>
        </div>
        <div class="opinion">
            <div class="opinion__image imgBox">
                <img src={{ global.imgListElement }} alt="überzeugte Benutzerin">
            </div>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At eius est, libero quibusdam quae officia.
            </p>
            <cite>Hanna</cite>
        </div>
        <div class="opinion">
            <div class="opinion__image imgBox">
                <img src={{ global.imgListElement }} alt="überzeugte Benutzerin">
            </div>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At eius est, libero quibusdam quae officia.
            </p>
            <cite>Hanna</cite>
        </div>
    </div>
</section>