---
{
"title": "mainPage",
"template": "_layout",
}
---
<div id="main">
    <div class="imgBox">
        <img src={{ global.heroImgMain }} alt="big_Image">
    </div>
    <div class="contentBlock">
        <input class="searchBar" type="text" placeholder="Suche">
        <div class="contentBlock">
            <div class="contentList">
                <div class="list-headings">
                    <h4>Thema</h4>
                    <p></p>
                    <h4>Reaktion</h4>
                    <h4>Letzte Nachricht</h4>
                </div>
                <div class="listElement">
                    <div>
                        <img class="topicImg" src={{ global.imgListElement }} alt="Themenbild">
                    </div>
                    <h5 class="topicTitle">Überschrift</h5>
                    <p class="topicReacts">Anzahl</p>
                    <p class="topicText">Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Veniam voluptatibus, error cupiditate dignissimos, quaerat quasi hic
                        voluptates et
                        officiis accusantium numquam pariatur fugiat, adipisci maiores architecto nam illo quam. Veniam!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>