---
{
"title": "test",
"template": "_layout",
}
---
<div class="container">
    <div class="grid">
        <div class="title">Titel
        </div>
        <div class="reviews">Reviews
        </div>
        <div class="lastMsg">Letzte Nachricht
        </div>
    </div>
    <div class="element">
        <div class="element-image"> IMAGE </div>
        <div class="element-title"> Title </div>
        <div class="element-reviews"> Anzahl: 2 </div>
        <div class="element-lastMsg"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ut dicta quaerat quasi repudiandae, quisquam veritatis sapiente, totam eum vitae, voluptatum iure dolore porro consectetur eveniet nam odit repellat nemo. </div>
    </div>
    <div class="element">
        <div class="element-image"> IMAGE </div>
        <div class="element-title"> Title </div>
        <div class="element-reviews"> Anzahl: 2 </div>
        <div class="element-lastMsg"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ut dicta quaerat quasi
            repudiandae, quisquam veritatis sapiente, totam eum vitae, voluptatum iure dolore porro consectetur eveniet nam
            odit repellat nemo. </div>
    </div>
    <div class="element">
        <div class="element-image"> IMAGE </div>
        <div class="element-title"> Title </div>
        <div class="element-reviews"> Anzahl: 2 </div>
        <div class="element-lastMsg"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ut dicta quaerat quasi
            repudiandae, quisquam veritatis sapiente, totam eum vitae, voluptatum iure dolore porro consectetur eveniet nam
            odit repellat nemo. </div>
    </div>
</div>