---
{
"title": "test",
"template": "_layout",

"groups": [
{
"image": "https://picsum.photos/400/200",
"title": "Hallo",
"reviews": "2",
"lastMsg": "lorem ipsum dolor sit amet consectetur adipisicing elit euismod er"
},
{
"image": "https://picsum.photos/400/200",
"title": "Wir sinds",
"reviews": "4",
"lastMsg": "lorem ipsum dolor sit amet consectetur adipisicing elit euismod er"
},
{
"image": "https://picsum.photos/400/200",
"title": "TITEL",
"reviews": "5",
"lastMsg": "lorem ipsum dolor sit amet consectetur adipisicing elit euismod er"
},
{
"image": "https://picsum.photos/400/200",
"title": "Die letzte Gruppe",
"reviews": "27",
"lastMsg": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ut dicta quaerat quasi
repudiandae, quisquam veritatis sapiente, totam eum vitae, voluptatum iure dolore porro consectetur eveniet nam
odit repellat nemo."
},
]
}
---
<div class="dictionary__words">
    <section class="letter">
        <h3 class="letter__headline">-- A --</h3>
        <div class="letter__words">
            <a class="noDecoration" href="/learn">
                <article class="word-preview">
                    <div class="word-preview__video">
                        <img class="fill" src={{ global.imgListElement }} alt="video">
                    </div>
                    <h4 class="word-preview__title">anklopfen</h4>
                </article>
            </a>
        </div>
    </section>
    <section class="letter">
        <h3 class="letter__headline">-- B --</h3>
        <div class="letter__words">
            <a class="noDecoration" href="/learn">
                <article class="word-preview">
                    <div class="word-preview__video">
                        <img class="fill" src={{ global.imgListElement }} alt="video">
                    </div>
                    <h4 class="word-preview__title">Bauer</h4>
                </article>
            </a>
            <a class="noDecoration" href="/learn">

                <article class="word-preview">
                    <div class="word-preview__video">
                        <img class="fill" src={{ global.imgListElement }} alt="video">
                    </div>
                    <h4 class="word-preview__title">Beet</h4>
                </article>
            </a>
        </div>
    </section>
</div>