---
"template": "_layout"
---
<div id="entry">
    <main class="loginForm contentBlock">
        {{ content }}
    </main>
    <aside class="imgBox">
        <!-- TODO: can go once we have non-Placeholder Images -->
        {{#if page.heroImg}}
        <img src={{ page.heroImg }} alt="big_Image">
        {{else}}
        <img src={{ global.heroImgMain }} alt="big_Image">
        {{/if}}
    </aside>
</div>