<footer>
    <div class="footerLink" id="toTop">
        <a class="centerBox btnLink" href="#">To Top</a>
        <hr>
    </div>
    <div class="footerLink">
        <a class="centerBox btnLink" href="#">Kontakt</a>
        <hr>
    </div>
    <div class="footerIcons">
        <img class="footerLogo" src={{ global.logoURL }} alt="LOGO">
        <div id="footerSocials">
            <img class="social" src={{ global.socials1 }} alt="social1">
            <img class="social" src={{ global.socials2 }} alt="social2">
            <img class="social" src={{ global.socials3 }} alt="social3">
        </div>
    </div>
    <div class="footerLink">
        <a class="centerBox btnLink" href="#">Datenschutz</a>
        <hr>
    </div>
    <div class="footerLink">
        <a class="centerBox btnLink" href="#">Impressum</a>
        <hr>
    </div>
</footer>