<header>
    <a class="header-logo logo" href="/main"><img src={{ global.logoURL }} alt="LOGO"></a>
    <nav>
        {{#each page.innerlinks}}
        <a class="center" href={{ this.url }}>{{ this.title }}</a>
        {{/each}}
    </nav>
    <div class="accManagement">
        <a class="center btnLink" href="/entry/register">Registrieren</a>
        <a class="center btnLink" href="/entry/login">Login</a>
    </div>
</header>