---
{
"title": "Login",
"template": "_entrylayout",
"heroImg": "https://picsum.photos/1600/720"
}
---
<h2>Willkommen zurück</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quaerat quae repudiandae repellendus. Quasi nulla
    praesentium ullam perspiciatis?</p>
<form>
    <input class="textInput" type="text" name="username" placeholder="Nutzername">
    <input class="textInput" type="password" name="password" placeholder="Passwort">
    <input class="btnLink" type="submit" name="submit" value="Anmelden">
</form>