---
{
"registered" : false,
"title": "Onboarding",
"template": "_entrylayout",

"firstName": "Linus"
}
---
<!--Todo: Variable -->
<div id="onboarding">
    <h2>Hallo {{ page.firstName }}</h2>
    <div class="flex">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quaerat quae repudiandae repellendus. Quasi
            nulla
            praesentium ullam perspiciatis?</p>
        <div class="onboarding__image">
            <img class="fill" src={{ global.imgListElement }} alt="profilbild">
        </div>
    </div>
    <form class="onboarding__form" action="/main">
        <input class="textInput inputRow" type="text" name="firstname" placeholder="Vorname" required>
        <input class="textInput inputRow" type="text" name="lastname" placeholder="Nachname" required>
        <div class="inputRow flex">
            <input class="textInput inputSplitSmall" type="number" name="postcode" placeholder="PLZ">
            <input class="textInput inputSplitBig" type="text" name="city" placeholder="Stadt">
        </div>
        <input class="textInput inputRow" type="text" name="address" placeholder="Straße & Haus-Nr.">
        <input class="btnLink" type="submit" name="submit" value="Weiter">
    </form>
</div>