---
{
"registered" : false,
"title": "Registrieren",
"template": "_entrylayout"
}
---
<h2>Willkommen</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quaerat quae repudiandae repellendus. Quasi nulla
    praesentium ullam perspiciatis?</p>
<form action="/entry/onboarding">
    <input class="textInput inputRow" type="text" name="username" placeholder="Nutzername" required>
    <input class="textInput inputRow" type="password" name="password" placeholder="Passwort" required>
    <input class="textInput inputRow" type="password" name="passwordRep" placeholder="Passwort wiederholen" required>
    <input class="textInput inputRow" type="email" name="email" placeholder="E-Mail" required autocomplete="on">
    <input class="btnLink" type="submit" name="submit" value="Registrieren">
</form>